<!-- catalogo/templates/catalogo/index.html -->
{% extends "layouts/base.html" %}

{% block title %}Mi Página Web{% endblock %}

    {% block content %}
    {% if perms.catalogo.view_libro%}
    <a href="{% url 'listado_libros' %}">Ver Libros</a>
    {% endif %}
    {% if perms.catalogo.view_autor%}
    <a href="{% url 'listado_autores' %}">Ver Autores</a>
    {% endif %}
    {% if perms.catalogo.add_libro%}
    <a href="{% url 'crear_libro' %}">Crear Libro</a>
    {% endif %}
    {% if perms.catalogo.add_autor%}
    <a href="{% url 'crear_autor' %}">Crear Autor</a>
    {% endif %}
    {% endblock %}
